body {
    margin: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .site-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1024px;
  }
  .coming-soon {
    font-size: 50px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
  }
  h1, h2, h3 {
    font-weight: normal;
  }
  .web-dev {
    padding: 0 20px;
  }
  .sub-text {
    font-size: 20px;
  }
  .title {
    font-size: 24px;
    text-align: left;
  }
  .text {
    font-size: 18px;
    padding-left: 20px;
    text-align: left;  
  }
  .link {
    font-size: 20px;
    color: #2c87aa;
    cursor: pointer;
    text-decoration: none;
  }
  .link:hover, .percent {
    font-weight: bold;
  }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 26px;
    }
    .web-dev {
      padding: 0 10px;
    }
    .sub-text {
    font-size: 14px;
  }
  .title {
    font-size: 22px;
    text-align: left;
  }
  .text {
    font-size: 12px;
    padding-left: 10px;
  }
  .link {
    font-size: 14px;
  }
}